version: '2'
services:
  bbbot-api:
    build:
      context: .
      args:
        - SERVICE_NAME=bbbot-api
        - NPM_REGISTRY
        - NPM_TOKEN
        - HTTP_PROXY
        - HTTPS_PROXY
    environment:
      - SERVICE_PORT=3000
      - WAIT_START=3
    ports:
      - 3000:3000
    depends_on:
      - redis-store
      - mongodb
  mongodb:
    image: mongo
    ports:
      - 27017:27017
  redis-store:
    image: redis
    ports:
      - 6379:6379
